
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    /* border: solid 1px red; */
  
}
.container img {
    width: 100%;
    height: 180px;

    /* object-fit: contain; */
    border-radius: 5px;
    
    
   
}
.item-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15em;
    background-color: rgb(122, 125, 125);
    color: #fff;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
}
.item-cart:hover{
    transition: all ease-in-out .8s;
    scale: 1.1;
}
.allproducts-btn{
    border: none;
    padding: .5em;
    background-color: #cac8c8;
}
.feature-item{
    display: flex;
    justify-content: center;
    margin: 2em;
}
.search-item{
    margin:0em 1em ;
}
.search-icon{
    font-size: 2em;
    background-color: rgb(147, 152, 152);
}
.item-name{
    font-size: 1.5em;
    margin: .7em 0 .4em 0;
}
.item-description{
    display: none;
}
.item-price{
    margin-bottom: .4em;
    font-size: 1.4em;
}