

.cart-container{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}
.cart-list {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-list {
    border: solid 1px rgb(34, 110, 59);
    padding: 1em;
    
}
.cart-list > * {
    margin: .5em 0em;
}
.cart-description{
    margin: 0em 2em;
}
.cart-container img {
    width: 200px;
}
.cart-summan{
    margin-top: 1em;
}
.x-btn{
    display: flex;
    align-self: flex-end;
    font-size: 1.1em;
}
.tiner-line{
    width: 80%;
    margin-top: 9em;
}
