
.main-modal{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.form-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(131, 166, 145);
    width: clamp(17em , 50%, 25em);
    height: 20em;
    
}
.form-modal h2 {
    margin-bottom: 1.5em ;
}
.close-tag{
    align-self: flex-end;
    margin: .1em;
    font-size: 2em;
}
.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10em;
}
.modal div input{
    display: flex;
    flex-direction: column;
    width: clamp(14em, 70% , 5em);
    height: 2em;
    
}
.admininput , .password-input{
    margin: .7em 0em;
}
.log-btn{
    margin: 1em 0em;
    padding: .5em;
    align-self: center;
    border: none;
    

}
