body{
    background-color: antiquewhite;
}
*{
    box-sizing: border-box;
}

.form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.form-inputs{
    display: flex;
    flex-direction: column;
   align-items: center;
    background-color:#7aea76;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(35px);
    width: 400px;
    box-shadow: rgba(00, 00, 00, 0.5) 10px 10px 40px 0px;
}

.name-product{
    padding-top: 1rem;
}
.form-inputs  label > input , textarea{
    position: relative;
    width: 20rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 1rem;
}
.add-button{
    padding: 1rem;
}
.add-button button{
    padding: 0.5rem;
}
