
*{
    box-sizing: border-box;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.form-inputs{
    display: flex;
    flex-direction: column;
   align-items: center;
    background-color:rgb(140, 165, 129);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(35px);
    width: 400px;
    box-shadow: rgba(00, 00, 00, 0.5) 10px 10px 40px 0px;
    border-radius: 6px;
}
.name-product , .description-product , .price-product , .picture-product {
    margin-bottom: 1em;
}
.name-product{
    padding-top: 1rem;
}
.form-inputs  label > input , textarea{
    position: relative;
    width: 20rem;
    height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.add-button{
    padding: 1rem;
}
.add-button button{
    padding: 0.5rem;
}
