
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.main-element nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(246, 199, 110);
    padding: 2em;
    position: sticky;
    
}
.btn-home{
    font-size: 2em;
}

.cart-shop{
    font-size: 2em;
}


.nav-header a {
    text-decoration: none;
}



@media (min-width: 1080px){
    .search-item{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        width: clamp(10em,);
    }
    .search-input{
        display: block;
    }
}


